*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-align: center;
}
header{
    background-color: #081b31;
    width:100%;
}
h1{
    color:white;
    text-align: center;
    padding:1rem 0;
    font-size:1.5rem;
}
.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:3rem;
    gap:2rem;
}
.choice{
    width:12vmax;
    height:12vmax;
}
img{
    width:95%;
    height:95%;
    object-fit: cover;
    border-radius: 50%;
}
img:hover{
    opacity:0.5;
}
img:hover{
    cursor:pointer;
    border:4px solid #000000;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3rem;
    margin-top:1.85rem;
    font-size: 1.5rem;
}
#user-score , #comp-score{
    font-size:2.3rem;
}
.msg-container{
    margin-top:2.5rem;
}
#msg{
    background-color: #081b31;
    color:white;
    padding:0.9rem;
    font-size:1.25rem;
    border-radius: 10px;
    display: inline;
}